<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>

    <style>
        body {
            background-color: #dddddd;
            margin: 10px;
        }

        #canvas {
            background-color: white;
        }

        #modal {
            position: fixed;
            z-index: 1000;
            width: 500px;
            height: 250px;
            top: 10px;
            margin: 0 calc((100% - 500px) / 2);
        }

        #modal-inner {
            margin: 10px 10px;
            color: #00f;
            font-size: 15px;
        }
    </style>
    <script src="/socket.io/socket.io.js"></script>
</head>


<body>
<div id="main" class="container">
    <!--<div id="ctrl" class="btn-group">-->

    <nav class="navbar navbar-dark bg-dark">
        <div class="row">
            <div class="col-sm-6">
                <form class='form-inline'>
                    <button type="button" class="btn btn-info btn-md" id="create_game_modal" data-toggle="modal"
                            data-target="#modalCreate">Create
                        game
                    </button>
                    <input id="is_tournament" type="checkbox" class="form-check-input">
                    <label id="check" for="is_tournament">Create tournament</label>

                    <button type="button" class="btn btn-info btn-md" id="join_game_modal" data-toggle="modal"
                            data-target="#modalJoin">Join
                        game
                    </button>
                    <!--<button id="join" type="button" class="btn btn-primary">Join game</button>-->
                    <button id="leave" type="button" class="btn btn-info btn-md">Leave game</button>
                    <a class = "btn btn-default btn-md" href = "/logout" role = "button">Logout</a>
                    <a class = "btn btn-default btn-md" href = "/profile" role = "button">Profile</a>
                </form>
            </div>
            <div id="out" class="col-sm-3">
                <ul class="list-group">
                    <li id="p1" class="list-group-item"></li>
                    <li id="p2" class="list-group-item"></li>
                    <li id="round" class="list-group-item"></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--</div>-->
</div>
</div>
<div id="cn" class="container">
    <canvas id="canvas" width="700" height="500"></canvas>
</div>
<!-- Trigger the modal with a button -->


<!-- Modal -->
<div class="modal fade" id="modalCreate" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <form onsubmit="return false;">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nameCreate">Your name</label>
                        <input id="nameCreate" title="name" class="form-control" type="text" required>
                        <label for="id_room">Room id! Tell it your opponent!</label>
                        <input id="id_room" title="id_room" class="form-control" type="text" readonly>

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="create" type="submit" class="btn btn-primary">Create game</button>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>


<!-- Modal join-->
<div class="modal fade" id="modalJoin" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <form onsubmit="return false;">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nameJoin">Your name</label>
                        <input id="nameJoin" title="name" class="form-control" type="text" required>
                        <label for="id_room_join">Your room</label>
                        <input id="id_room_join" title="id_room" class="form-control" type="text" required>

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="join" type="submit" class="btn btn-primary">Join game</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>
<!--<div id="out"></div>-->
<div id='modal' style='display:none'>
    <span id='modal-inner'></span>
</div>
</body>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/game.js"></script>
</html>